@font-face { font-family: CZINEGE; src: url('CZINEGE.ttf.woff'); } 

html, body, table {
	font-family: CZINEGE;
	color: #000;
	margin: 0;
	padding: 0;
}

.white-on-black {
	position: relative;
	background-color: #000;
	color: #FFF;
	border-color: #FFF;
}

.black-on-white {
	position: relative;
	background-color: #FFF;
	color: #000;
	border-color: #000;
}

/* A4 size; 21cm x 29.7cm */
table {
	border-collapse: separate;
	border-spacing: 3px; /* 10 */
	font-weight: bold;
	table-layout: fixed;
	margin: 0;
	padding: 0;
	page-break-before: always;
	page-break-after: always;
	page-break-inside: avoid;
}

tr {
}

td {
	/* height = 1.6767 * width */
	/* width: 250px; */
	/*
	width: 232px;
	height: 389px;
	*/
	/*
	width: 100px;
	height: 167px;
	*/
	width: 5.5cm;
	height: 8.5cm;
	vertical-align: top;
	border-width: 2px;
	border-color: #000;
	border-style: solid;
	margin: 0;
	padding: 0px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}

div#control-panel {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

	background-color: #DDD;
	color: #000;
}

div#spinner {
	width: 100%;
	display: none;
	text-align: center;
}

.small-text {
	font-size: 25px;
	position: absolute;
	top: 0px;
	left: 5px;
}

@media print {
	.no-print, .no-print *
    {
        display: none !important;
    }
}